*{
  font-family: 'poppins', sans-serif;
}

#lines{
  position: relative;
      max-width: 500px;
      margin: 30px auto;
      text-align: center;
      font-size: 15px;
      color: rgb(105, 99, 99);
      margin-top: -20px;
}
#lines:before{
  content: " ";
      display: block;
      height: 0.5px;
      width: 47%;
      position: absolute;
      top: 50%;
      background: rgb(204, 201, 201);
}
#lines:after{
  content: " ";
      height: 0.5px;
      width: 47%;
      background: rgb(204, 201, 201);
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
}
input{
  padding: 13px;
  margin-top: 13px;
  margin-bottom: 13px;
  border:1px solid rgb(216, 205, 205);
  border-radius: 5px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  padding: 13px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'poppins', sans-serif;


  cursor: pointer;
  background-color:rgb(155,10,178) ; border: none; color: white;
  border-radius: 3px;
}
button:hover {
  color: black;
  background-color:rgb(224, 138, 240);
}
body{
  background-color:rgb(246, 232, 248);
}
.container{
  display: flex; gap: 30px; margin-top: 100px;justify-content: center; height: 730px;
}
.image-container{
  display: flex; flex-direction: column;
  border-right: 1px solid rgb(187, 168, 186);
  margin-top: 5px;
}
.image-container h1{
  color: rgb(154,8,217);font-size:40px;margin-left: 140px;font-family: 'poppins', sans-serif;
}
.icon{
  display: flex; justify-content: space-around;
}
.fa-facebook-f{
  color: #0273ca; font-size: 20px;width: 20%;background-color: white; text-align: center;padding: 5px; border-radius: 5px;cursor: pointer;
}
.fa-apple{
  font-size: 25px; width: 20%;background-color: white; text-align: center;padding: 5px; border-radius: 5px;cursor: pointer;
}
.icon svg{
  font-size: 20px;width: 20%;background-color: white; text-align: center;padding: 5px; border-radius: 5px;cursor: pointer;
}
.input{
  display: flex; gap:50px;
}
.input input{
  display: block; width: 90%;
}
 #input{
  position: relative;}
#input input{
  display: block; width: 95%;
} 
#input svg{
  position: absolute;top:40px; right: 8px;cursor: pointer;
  color: rgb(105, 100, 100);
}

/* .input i{
  position: absolute;top:40px; right: 8px;
} */

.input-comfirm-password{
  position: relative;
}
.input-comfirm-password input{
  display: block; width: 95%;
}
.input-email{
  display: block; width: 95%;
}
.input-comfirm-password svg{
  position: absolute; top:40px; right: 8px; cursor: pointer;
  color: rgb(105, 100, 100);
}
.form-container{
  margin-left: 30px;
  margin-bottom: 300px;
  margin-top: 15px;
}
.form-container h2{
  font-family:'poppins', sans-serif;

}
.form-container p{
  font-family: 'poppins', sans-serif;
  margin-bottom: 60px;
  word-spacing: 5px;
}
label{
  color: rgb(97, 94, 94);
}
#p{
  margin-left: 100px;
  color: rgb(97, 89, 89);
}
#p a{
  text-decoration: none; color: rgb(156, 3, 184) ;
}